# ----------------------
# Flask
# ----------------------
flask


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn

# ----------------------
# Application business related
# ----------------------
numpy==1.12.1
tensorflow==1.1.0
